@charset "UTF-8";
@import "libs/_lib";

.alphabet-col {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 10px;
    a {
        color: #ffffff;
        font-weight: 900;
        padding: 0 10px;
        margin-bottom: 5px;
        @include eqbox(25px);
        min-width: 25px;
        &.active {
            background-color: $theme-color-1;
            
        }
        &:hover {
            background-color: darken($theme-color-1, 15%);

        }

    }

}