@charset "UTF-8";
@import "libs/_lib";

*,*::before,*::after {
    box-sizing: border-box; 
}

html {
    height: 100%;
    padding: 0;
    margin: 0;

}
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: $base-font;
    font-size: $base-font-size;
    background-color: $base-background-color;
    color: $base-color;
    &.nav-open,
    &.search-open {
        overflow-y: hidden;

    }

}

.wrapper {
    position: relative;
    width: 97%;
    max-width: $wrapper-width;
    min-width: 319px;
    padding-left: $col-padding;
    padding-right: $col-padding;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: 1039px) {
        width: 100%;

    }

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$col-padding;
    margin-left: -$col-padding;

}
.col {
    padding-left: $col-padding;
    padding-right: $col-padding;
    flex: 0 0 100%;
    max-width: 100%;
    &.-full {
        max-width: 100%;

    }
    &.-half {
        max-width: 50%;

    }

}

[class*="-sec"] {
    margin-bottom: 2 * $col-padding;

}

.bg-gray {
    background-color: $gray;

}

a {
    color: $link-color;
    text-decoration: none;
    @include outline-remove;
    &:hover {
        color: $link-hover-color;
        text-decoration: none;

    }

}

img {
    max-width: 100%;
    height: auto;

}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0 none;
    @include outline-remove;
    font-family: $base-font;
    cursor: pointer;

}

.btn {
    border: 0 none;
    padding: 0 10px;
    margin: 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    border-radius: 0;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    transition: none;
    @include outline-remove;
    &.btn-default {
        background-color: $btn-bg-color;
        color: $btn-color;
        &:hover {
            background-color: $btn-hover-bg-color;
            color: $btn-hover-color;

        }

    }
    &.btn-dropdown {
        color: #ffffff;
        background-color: transparent;
        text-transform: uppercase;
        @include eqbox(33px);
        .svg-inline--fa {
            color: #474747;
            margin-left: 5px;
            vertical-align: middle;
            font-size: 15px;
            margin-top: -2px;
            .show & {
                color: $theme-color-1;

            }

        }
        &:hover {
            color: $theme-color-1;

        }

    }
    &.btn-header {
        color: #ffffff;
        @include eqbox(28px,2px);
        border: 1px solid $theme-color-1;
        .svg-inline--fa {
            color: $theme-color-1;
            margin-right: 3px;

        }

    }

}

ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;

    }
    &.inline-list {
        font-size: 0;
        li {
            display: inline-block;
            font-size: $base-font-size;

        }

    }

}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-size: $base-font-size;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin: 0;

}

.bold {
    font-weight: 700;

}

.highlight {
    color: $theme-color-1;

}

.dropdown-menu {
    border-radius: 0;
    background-color: #161616;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    a {
        padding: 0 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        display: block;
        text-transform: uppercase;
        &:hover {
            background-color: #000000;

        }

    }
    &.dropdown-menu-right {
        a {
            text-align: right;

        }

    }

}

.tabs-nav {
    display: flex;
    li {
        flex: 0 0 auto;
        a {
            font-size: 15px;
            color: #7e7e7e;
            padding: 0 10px;
            text-align: center;
            .icon-circle {
                margin-right: 5px;
                color: #7e7e7e;
                border-color: #7e7e7e;

            }
            .sub-label {
                vertical-align: middle;

            }
            &.active,
            &:hover {
                color: #ffffff;
                .icon-circle {
                    color: $theme-color-1;
                    border-color: $theme-color-1;

                }

            }

        }

    }

}

.static-col {
    flex-basis: 100%;
    p {
        color: #ffffff;
        line-height: 1.2;
        margin-bottom: 10px;

    }
    h1,h2,h3,h4,h5,h6 {
        color: #7e7e7e;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 15px;

    }
    ul {
        li {
            position: relative;
            padding-left: 25px;
            @include eqbox(34px);
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                height: 10px;
                width: 10px;
                background-color: $theme-color-1;

            }

        }

    }

}

.notification-sec {
    margin-bottom: 0;

}
.notification-col {
    flex: 1 0 100%;

}
.alert, .messages, .notification {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: $border-radius;
    clear: both;
    font-size: 15px;
    text-align: center;
    width: 100%;
    &.info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;

    }
    &.alert {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;

    }
    &.error {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;

    }
    &.success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;

    }
    p {
        margin: 0;

    }
    a {
        color: $theme-color-1;
        &:hover {
            color: darken($theme-color-1, 15%);
            
        }
        
    }

}

.tab-wrapper {
    display: none;
    flex-basis: 100%;
    &.active {
        display: block;

    }

}

table {
    width: 100%;
    margin-bottom: 10px;
    tr {
        border-bottom: 1px solid #1e1e1e;

    }
    th {
        font-weight: 600;
        padding: 10px;

    }
    td {
        padding: 10px;
        font-size: 15px;

    }

}

.header-filter {
    position: relative;
    & + .header-filter {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            bottom: 10px;
            width: 1px;
            background-color: #474747;

        }

    }
    .filter-select {
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0 10px;
        border: 1px solid #000000;
        border-radius: $border-radius;
        .svg-inline--fa {
            margin-left: 5px;

        }

    }
    a {
        text-transform: uppercase;

    }

}

.simple-list {
    li {
        &.active {
            a {
                color: $theme-color-1;
                font-weight: 500;

            }

        }

    }

}

iframe {
    border: 0 none;

}

.desktop {
    &.-show {
        display: none;
        @media(min-width: 1040px) {
            display: block;

        }

    }
    &.-hide {
        display: block;
        @media(min-width: 1040px) {
            display: none;

        }

    }

}

.tabs-nav {
    li {
        a {
            display: block;
            font-size: $base-font-size;
            @include eqbox(34px);
            padding: 0 15px;
            position: relative;
            color: #ffffff;
            text-transform: uppercase;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #161616;
                transition: height $trans-time $trans-type, background-color $trans-time $trans-type;
                height: 0;

            }
            &.active,
            &:hover {
                &::after {
                    height: 3px;
                    background-color: $theme-color-1;

                }

            }

        }

    }

}

.tab-content {
    display: none;
    &.active {
        display: block;

    }

}

.modal-content {
    color: #000000;
    
}

::selection {
    color: #ffffff;
    background-color: rgba($theme-color-1, .9);

}