@charset "UTF-8";
@import "libs/_lib";

.footer-sec {
    border-top: 1px solid #2f2f2f;
    padding-top: 15px;
    .row {
        justify-content: center;
        align-items: center;

    }

}

.footer-logo-col {
    flex: 1 0 100%;
    margin-bottom: 20px;
    text-align: center;
    @media(min-width: 1350px) {
        flex-basis: auto;
        text-align: left;

    }

}

.footer-list-col {
    flex: 1 0 100%;
    margin-bottom: 20px;
    @media(min-width: 1350px) {
        flex-basis: auto;
        &:last-child {
            .footer-list {
                text-align: right;

            }

        }

    }

}

.footer-list {
    font-size: 0;
    text-align: center;
    li {
        display: block;
        font-size: $base-font-size;
        @media(min-width: 650px) {
            display: inline-block;
            & + li {
                margin-left: 15px;
                padding-left: 15px;
                border-left: 1px solid #6a6a6a;

            }

        }

    }
    a {
        display: inline-block;
        line-height: 30px;
        text-transform: uppercase;
        @media(min-width: 650px) {
            line-height: 1.2;
            
        }

    }

}

.social-col {
    margin-top: 30px;
    margin-bottom: 20px;

}

.social-list {
    font-size: 0;
    text-align: center;
    li {
        display: inline-block;
        font-size: $base-font-size;
        padding: 0 10px;
        margin-bottom: 10px;

    }
    a {
        display: block;
        border: 1px solid #ffffff;
        border-radius: 50%;
        @include eqbox(28px, 1px);
        width: 28px;
        text-align: center;
        background-color: #15141a;
        color: #ffffff;
        transition: all $trans-time $trans-type;
        &:hover {
            transform: scale(1.3);
            background-color: $theme-color-1;;

        }

    }

}