@charset "UTF-8";
@import "libs/_lib";

.header-sec {
    border-bottom: 1px solid #1e1e1e;

}

.top-bar {
    background-color: #161616;
    .row {
        justify-content: flex-end;

    }

}

.ucp-col {
    flex-basis: auto;
    .dropdown-menu {
        margin: 0;
        border: 0 none;
        a {
            height: 24px;
            line-height: 24px;
            font-size: 13px;

        }

    }

}

.ucp-list {
    font-size: 0;
    li {
        display: inline-block;
        vertical-align: top;
        @include eqbox($header-top-row);
        padding: 0 2px;
        font-size: 12px;
        text-transform: uppercase;

    }

}

.btn.btn-dropdown.btn-ucp {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include eqbox(27px);
    .avatar {
        position: relative;
        overflow: hidden;
        display: block;
        margin-right: 5px;
        height: 21px;
        width: 21px;
        border-radius: 50%;
        border: 2px solid $theme-color-1;
        margin-top: -2px;
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: auto;
            max-width: none;

        }

    }
    .svg-inline--fa {
        color: $theme-color-1;

    }
    .user-name {
        display: inline-block;
        max-width: 100px;
        @include ellipsis;

    }

}

.lang-col {
    flex-basis: auto;
    @media(min-width: 768px) {
        margin-left: 35px;

    }
    .btn-dropdown {
        @include eqbox($header-top-row);
        .svg-inline--fa {
            color: $theme-color-1;
            margin-left: 3px;
            margin-top: -2px;

        }

    }
    div.btn-dropdown {
        cursor: default !important;
        &:hover {
            color: #ffffff;
            
        }
        
    }
    .lang-dropdown {
        margin-top: 0;
        background-color: #161616;
        min-width: 51px;
        border: 0 none;
        li {
            &.active {
                a {
                    background-color: #000000;

                }

            }
            a {
                font-size: 12px;
                text-align: center;
                &:hover {
                    background-color: $theme-color-1;

                }

            }

        }

    }

}

.main-header {
    position: relative;
    z-index: 50;
    > .wrapper {
        > .row {
            justify-content: space-between;
            align-items: center;

        }

    }

}

.logo-col {
    flex-basis: auto;
    @media(max-width: 1039px) {
        flex-grow: 1;

    }
    @media(min-width: 1040px) {
        max-width: 203px + ($col-padding * 2);

    }
    @media(max-width: 1199px) and (min-width: 1040px) {
        max-width: 170px;

    }
    a {
        display: block;
        @include eqbox($header-bottom-row-mobile);
        max-width: 203px;
        @media(min-width: 1040px) {
            @include eqbox($header-bottom-row);

        }
        img {
            width: 100%;
            vertical-align: middle;

        }

    }

}

.nav-col {
    position: static;
    flex-basis: 0;
    @media(min-width: 571px) {
        flex-basis: 320px;

    }
    @media(min-width: 1040px) {
        flex-basis: auto;
        padding-right: 45px

    }
    @media(max-width: 1039px) {
        .nav-inner-col {
            position: fixed;
            top: $header-top-row-mobile + $header-bottom-row-mobile + 1px;
            left: 0;
            width: 0;
            bottom: 0;
            z-index: 50;
            background-color: rgba(#000000, .6);
            transition: width $trans-time $trans-type;
            .nav-open & {
                width: 100%;

            }

        }

    }

}

.nav-drop {
    display: none;
    position: relative;
    background-color: #161616;
    z-index: 10;
    @media(max-width: 1039px) {
        flex: 1 0 100%;
        .show > & {
            display: block;

        }

    }
    @media(min-width: 1040px) {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);

    }
    li {
        display: block;

    }
    a {
        color: #ffffff;
        display: block;
        text-align: left;
        white-space: nowrap;
        @include eqbox(34px);
        border-bottom: 1px solid #1e1e1e;
        padding: 0 10px 0 30px;
        font-size: 15px;
        font-weight: 500;
        @media(min-width: 1040px) {
            text-align: center;
            padding: 0 10px;

        }
        &:hover {
            border-color: $theme-color-1;

        }

    }

}

.nav-channels {
    display: none;
    position: relative;
    background-color: #161616;
    padding-top: 2 * $col-padding;
    justify-content: center;
    align-items: stretch;
    z-index: 10;
    @media(max-width: 1039px) {
        .show > & {
            display: block;

        }

    }
    @media(min-width: 1040px) {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 100%;

    }
    .item-col {
        max-width: 50%;
        @media (min-width: 1040px) {
            max-width: (100% / 7);

        }

    }

}

$mobile-elem-height: 40px;
.main-nav {
    display: flex;
    flex-flow: row nowrap;
    @media(max-width: 1039px) {
        flex-flow: column nowrap;
        width: 320px;
        height: 100%;
        background-color: #000000;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        left: -321px;
        transition: left $trans-time $trans-type;
        .nav-open & {
            left: 0;

        }

    }
    .nav-elem {
        flex: 0 0 0;
        position: relative;
        @media(max-width: 1039px) {
            display: flex;
            flex-flow: row wrap;
            flex: 0 0 auto;

        }
        @media(min-width: 1040px) {
            &:hover {
                > a:not(.show-drop)::after {
                    height: 5px;
                    background-color: $theme-color-1;

                }
            }

        }
        &.active {
            > a:not(.show-drop)::after {
                height: 5px;
                background-color: $theme-color-1;

            }
        }
        > a:not(.show-drop) {
            display: block;
            position: relative;
            @include eqbox($mobile-elem-height);
            padding: 0 15px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
            color: #ffffff;
            @media(max-width: 1039px) {
                flex-grow: 1;

            }
            @media(min-width: 1470px) {
                padding: 0 25px;

            }
            @media(min-width: 1200px) {
                font-size: 16px;

            }
            @media(min-width: 1040px) {
                @include eqbox($header-bottom-row);

            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: #161616;
                @media(min-width: 1040px) {
                    transition: height $trans-time $trans-type, background-color $trans-time $trans-type;
                    height: 0;

                }

            }
            .sub-label {
                display: inline-block;

            }
            .svg-inline--fa {
                display: none;
                @media(min-width: 1040px) {
                    display: inline-block;
                    color: #474747;
                    margin-left: 5px;

                }

            }

        }
        &.-upload {
            > a {
                color: #d40106;

            }

        }
        @media(min-width: 1040px) {
            &.has-list {
                &:hover {
                    .nav-drop {
                        display: block;

                    }

                }

            }
            &.has-drop {
                position: static;
                &:hover {
                    .nav-channels {
                        display: block;

                    }

                }

            }

        }
        .show-drop {
            flex-grow: 0;
            display: block;
            position: relative;
            color: #474747;
            padding: 0 12px;
            font-size: 24px;
            @include eqbox($mobile-elem-height);
            border-bottom: 1px solid #161616;
            &::before {
                content: "";
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 0;
                background-color: #161616;
                width: 1px;

            }
            @media(min-width: 1040px) {
                display: none;

            }

        }
        &.show .show-drop {
            color: $theme-color-1;

        }

    }

}

.search-box {
    overflow: hidden;
    background-color: $base-background-color;
    z-index: 2;
    @media(min-width: 1040px) {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        left: calc(100% - 45px);
        transition: left $trans-time $trans-type;
        &.active {
            left: calc(100% - 512px);
            @media(max-width: 1469px) {
                left: calc(100% - 431px)

            }
            @media(max-width: 1199px) {
                left: calc(100% - 398px);

            }
            .search-wrap {
                button[type="submit"] {
                    font-size: 1.4rem;

                }

            }

        }
        form {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

        }

    }
    @media(max-width: 570px) {
        display: none;
        position: fixed;
        top: $header-top-row-mobile + $header-bottom-row-mobile + 1px;;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.9);
        z-index: 10;
        form {
            width: 100%;
            height: 100%;

        }
        .search-wrap {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            max-width: 420px;
            width: 95%;

        }
        .search-open & {
            display: block;

        }

    }

}
.search-wrap {
    display: block;
    position: relative;
    @include eqbox($search-height-mobile);
    width: 100%;
    @media(min-width: 1040px) {
        @include eqbox($search-height);
        transition: width $trans-time $trans-type;

    }
    input[type="text"] {
        width: 100%;
        padding-right: 40px;
        @include eqbox(45px);
        border: 0;
        color: #ffffff;
        background-color: #161616;
        @include placeholder {
            opacity: 1;
            color: #ffffff;

        }
        @media(min-width: 571px) {
            @include eqbox($search-height-mobile);

        }
        @media(min-width: 1040px) {
            @include eqbox($search-height);

        }
        @media(max-width: 570px) {
            &:focus {
                box-shadow: 0 0 10px rgba(255,32,36,0.6);

            }

        }

    }
    button[type="submit"] {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40px;
        @include eqbox(45px);
        padding: 0 5px;
        color: $theme-color-1;
        font-size: 1.4rem;
        @media(min-width: 571px) {
            @include eqbox($search-height-mobile);
            font-size: 1rem;

        }
        @media(min-width: 1040px) {
            color: #ffffff;
            @include eqbox($search-height);
            background-color: $base-background-color;

        }
        &:hover {
            color: $theme-color-1;

        }

    }

}

.trigger-col {
    flex: 0 0 0;
    display: flex;
    align-items: center;
    @media(min-width: 1040px) {
        display: none;

    }
    .btn-trigger-nav {
        font-size: 26px;

    }
    .btn-trigger-search {
        font-size: 22px;
        @media(min-width: 571px) {
            display: none;

        }

    }

}