@charset "UTF-8";
@import "libs/_lib";

.mailbox-nav-col {
    margin-bottom: 20px;
    
}

.mail-list {
    tr {
        color: #8c8c8c;
        a {
            color: $theme-color-1;
            &:hover {
                color: darken($theme-color-1, 15%);

            }

        }
        &.new {
            color: #ffffff;
            font-weight: 500;

        }

    }

}

.mail-content-col {
    display: flex;
    flex-flow: row wrap;
    max-width: 700px;
    margin: 0 auto;
    .desc {
        color: #8c8c8c;

    }
    .actions {
        flex: 1 0 100%;
        text-align: right;
        
    }

}
.mail-info {
    flex: 1 0 100%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .mail-info-elem {
        flex: 0 0 auto;
        &.-sender {
            padding-right: 5px;
            
        }

    }

}
.mail-subject {
    flex: 1 0 100%;
    margin-bottom: 10px;

}
.mail-content {
    flex: 1 0 100%;
    margin-bottom: 10px;
    .desc {
        display: block;
        margin-top: 5px;
        
    }
    
}