@charset "UTF-8";
@import "libs/_lib";

.channels-list-col {
    max-width: 100%;
    height: 300px;
    order: 1;
    @media(min-width: 768px) {
        max-width: 33.333334%;
        height: auto;
    }
    @media(min-width: 1040px) {
        max-width: 25%;

    }
    @media(min-width: 1470px) {
        max-width: 20%;

    }

}
.channels-list-header {
    display: block;
    padding: 0 15px;
    background-color: #1e1e1e;
    h1,h2,h3,h4,h5,h6 {
        line-height: 33px;

    }

}
.channels-list {
    display: block;
    background-color: #161616;
    height: calc(100% - 43px);
    min-height: 200px;
    padding: 10px 0;
    .overview {
        display: flex;
        flex-flow: row nowrap;

    }
    .viewport {
        margin-top: 0;
        margin-right: 10px;

    }
    .disable + .viewport {
        margin-right: 0;

    }
    ul {
        display: block;
        max-width: 50%;
        width: 100%;

    }
    li {
        display: block;

    }
    a {
        display: block;
        padding: 0 25px;
        color: #ffffff;
        .counter {
            display: inline-block;
            color: #474747;
            width: 45px;
            padding-right: 5px;

        }
        &.active, 
        &:hover {
            background-color: $theme-color-1;
            .counter {
                color: lighten(#474747, 50%);

            }

        }

    }

}

.being-watched-col {
    max-width: 100%;
    order: 1;
    @media(min-width: 768px) {
        max-width: 66.666667%;
        order: 2;
    }
    @media(min-width: 1040px) {
        max-width: 75%;

    }
    @media(min-width: 1470px) {
        max-width: 80%;

    }

}

.title-col {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @media(min-width: 480px) {
        flex-basis: 0;

    }
    h1,h2,h3,h4,h5,h6 {
        display: inline-block;
        position: relative;
        padding: 8px 0 8px 22px;
        line-height: 1.2;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 11px;
            height: 11px;
            background-color: $theme-color-1;
            margin-top: -1px;

        }
        @media(min-width: 480px) {
            line-height: 33px;
            padding: 0 0 0 22px;

        }

    }
    a {
        display: inline-block;
        position: relative;
        margin-left: 30px;
        color: #606060;
        line-height: 1.2;
        &:hover {
            color: $link-hover-color;

        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -15px;
            width: 1px;
            background-color: #606060;

        }

    }
    .counter {
        color: #606060;
        text-transform: none;

    }
    &.-content {
        h1,h2,h3,h4,h5,h6 {
            font-size: 18px;
            padding: 6px 0 6px 22px;
            line-height: 1.2;

        }

    }
    &.-comments {
        .svg-inline--fa {
            color: $theme-color-1;
            font-size: 17px;

        }
        h1,h2,h3,h4,h5,h6 {
            padding-left: 10px;
            &::before {
                display: none;

            }

        }

    }
    &.-user,
    &.-model {
        @media(min-width: 480px) {
            flex: 0 0 auto;

        }
        h1,h2,h3,h4,h5,h6 {
            font-size: 18px;

        }

    }
    &.-sub {
        h1,h2,h3,h4,h5,h6 {
            padding-left: 0;
            &::before {
                display: none;

            }

        }

    }

}

.header-filter {    
    flex: 0 0 100%;
    margin-bottom: 10px;
    text-align: right;
    @media(min-width: 480px) {
        flex-basis: auto;

    }
    a {
        display: block;
        color: #ffffff;
        @include eqbox(32px);
        padding: 0 10px;
        &:hover {
            background-color: darken($theme-color-1, 10%);

        }
        &.active {
            background-color: $theme-color-1;

        }

    }
    .dropdown-menu {
        a {
            @include eqbox(24px);
            font-size: 13px;

        }

    }

}

.most-viewed-sec {
    div.row {
        display: block;
        @include clear;

    }

}

.item-col {
    margin-bottom: 2 * $col-padding;
    width: 100%;
    position: relative;
    @media(min-width: 499px) {
        max-width: 50%;
    }
    @media(min-width: 768px) {
        max-width: 33.333334%;
    }
    @media(min-width: 1039px) {
        max-width: 25%;
    }
    @media(min-width: 1469px) {
        max-width: 20%;
    }
    .being-watched-sec & {
        @media(min-width: 768px) {
            max-width: 50%;
        }
        @media(min-width: 1039px) {
            max-width: 33.333334%;
        }
        @media(min-width: 1469px) {
            max-width: 25%;

        }

    }
    .aside-main-col + .main-col & {
        @media(min-width: 768px) {
            max-width: 50%;
        }
        @media(min-width: 1039px) {
            max-width: 33.333334%;
        }
        @media(min-width: 1469px) {
            max-width: 25%;

        }

    }
    .add-to-fav {
        position: absolute;
        right: 59px;
        top: 0;
        @include eqbox(33px);
        font-size: 18px;
        color: $theme-color-1;
        opacity: 0;
        z-index: 2;
        &:hover {
            color: darken($theme-color-1, 20%);
            opacity: 1;

        }

    }
    .edit-content {
        position: absolute;
        right: 10px;
        bottom: 33px;
        @include eqbox(33px);
        font-size: 18px;
        color: $theme-color-1;
        opacity: 0;
        z-index: 2;
        &:hover {
            color: darken($theme-color-1, 20%);
            opacity: 1;

        }

    }    
    &:hover .edit-content,
        &:hover .add-to-fav {
        opacity: 1;

    }
    a {
        display: block;

    }
    .image {
        position: relative;
        display: block;
        overflow: hidden;
        height: 0;
        padding-top: percentage(175/312);
        background-color: #161616;
        > img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: auto;

        }

    }
    .item-quality {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $theme-color-1;
        color: #ffffff;
        text-align: center;
        z-index: 2;
        @include eqbox(33px);
        width: 33px;

    }
    .item-time {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(#000000,.66);
        color: #ffffff;
        text-align: center;
        z-index: 2;
        @include eqbox(33px);
        width: 49px;
        .svg-inline--fa {
            color: $theme-color-1;
            margin-right: 3px;

        }

    }
    .item-access {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(#000000,.66);
        color: #ffffff;
        text-align: center;
        z-index: 2;
        @include eqbox(33px);
        padding: 0 10px;
        font-size: 13px;
        .svg-inline--fa {
            color: $theme-color-1;
            margin-right: 3px;

        }

    }
    .item-info {
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;

    }
    .item-name {
        flex: 1 0 0;
        @include ellipsis;
        @include eqbox(33px);

    }
    .item-rate {
        flex: 0 0 50px;
        text-align: center;
        background-color: $theme-color-1;
        color: #ffffff;
        @include eqbox(33px);

    }
    .-content-aff & {
        float: left;

    }
    &.-video,
    &.-gallery {
        .item-name {
            padding-right: 5px;
            
        }
        
    }
    &.-aff {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 767px) {
            float: left;
            max-width: 100%;

        }

    }
    &.-model {
        .image {
            padding-top: percentage(388/312);
            > img {
                top: 0;
                left: 50%;
                width: auto;
                max-width: none;
                height: 100%;
                transform: translateX(-50%);
                
            }

        }
        .item-name {
            position: absolute;
            left: 24px;
            right: 24px;
            bottom: 22px;
            background-color: rgba(#000000, .66);
            text-align: center;
            text-transform: uppercase;

        }

    }
    &.-paysite,
    &.-channel {
        .item-name {
            text-align: center;

        }

    }
    &.-member {
        .item-rate {
            .svg-inline--fa {
                font-size: 22px;
                vertical-align: middle;

            }

        }

    }
    &.-see-all {
        .image {
            background-color: #000000;
            .svg-inline--fa {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 42px;
                color: $theme-color-1;
                @media(min-width: 1920px) {
                    font-size: 96px;

                }
                @media(min-width: 1040px) {
                    font-size: 5vw;

                }

            }

        }

    }

}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0;
    @media(min-width: 1040px) {
        flex-wrap: nowrap;
        
    }
    a {
        color: #ffffff;
        font-weight: 900;
        padding: 0 10px;
        @include eqbox(25px);
        min-width: 25px;
        text-align: center;
        margin-bottom: 5px;
        &:hover {
            background-color: $theme-color-1;

        }
        @media(max-width: 767px) {
            &:not(.prev):not(.next) {
                display: none;
                
            }
            
        }

    }
    span {
        font-weight: 900;
        padding: 0 10px;
        margin-bottom: 5px;
        @include eqbox(25px);
        min-width: 25px;
        background-color: $theme-color-1;
        text-align: center;

    }

}

.aff-col {
    margin-top: 35px;
    margin-bottom: 45px;
    &.-aside {
        margin-top: 0;

    }

}

.aff-list {
    text-align: center;
    li {
        display: inline-block;
        padding: 0 5px;
        margin-bottom: 10px;

    }

}

.breadcrumb-col {
    margin-bottom: 10px;
    font-size: 0;

}
.breadcrumb-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:not(:first-child) {
        padding-left: 18px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 9px;
            width: 2px;
            height: 2px;
            background-color: $theme-color-1;
            margin-top: -1px;

        }

    }
    a {
        font-size: 10px;
        line-height: 1.2;
        display: block;
        text-transform: uppercase;

    }
    &:last-child {
        a {
            color: $theme-color-1;

        }

    }

}

a.tag {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px 10px;
    @include eqbox(23px);
    color: #ffffff;
    background-color: #393939;
    text-transform: uppercase;
    &:hover {
        background-color: $theme-color-1;

    }

}