@charset "UTF-8";
@import "libs/_lib";

.paysite-header-col {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    border-bottom: 1px solid #242424;
    margin-bottom: 30px;

}

.paysite-avatar {
    flex: 0 0 100%;
    margin-bottom: 30px;
    @media(min-width: 600px) {
        flex-basis: 230px;
        margin: 0 20px;

    }
    .image {
        padding-top: 130px;
        position: relative;
        overflow: hidden;
        max-width: 230px;
        margin: 0 auto;

    }
    img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: auto;

    }

}

.paysite-info {
    flex: 1 0 0;
    margin-bottom: 30px;
    margin: 0 20px;

}

.paysite-counter {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    .svg-inline--fa {
        color: $theme-color-1;
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
        margin-top: -2px;

    }
    & + .paysite-counter {
        margin-left: 40px;

    }

}

.paysite-desc {
    display: block;
    margin-bottom: 30px;
    color: #8c8c8c;

}