@charset "UTF-8";
@import "libs/_lib";

.model-nav-col {
    flex: 1 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #1e1e1e;
    @media(min-width: 1040px) {
        margin-right: 320px;

    }
    .tabs-nav {
        justify-content: flex-end;
        a {
            white-space: nowrap;
            .svg-inline--fa {
                color: $theme-color-1;
                font-size: 18px;
                margin-right: 3px;
                vertical-align: middle;
                margin-top: -2px;

            }

        }
        @media(max-width: 479px) {
            li {
                flex-basis: 33.333334%;
                
            }
            .sub-label {
                display: none;
                
            }
            
        }

    }

}

.model-block {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 100%;
    padding: 0 20px 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #1e1e1e;

}

.model-aside {
    flex: 0 0 190px;
    margin: 0 auto 10px;
    @media(min-width: 768px) {
        margin-right: 40px;

    }
    .rating {
        justify-content: center;

    }

}

.model-avatar {
    display: block;
    margin-bottom: 10px;
    .image {
        display: block;
        position: relative;
        overflow: hidden;
        padding-top: 100%;
        height: 0;
        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: auto;

        }

    }

}

.model-info {
    flex: 1 0 100%;
    @media(min-width: 768px) {
        flex-basis: 0;

    }

}

.model-list {
    display: flex;
    flex-flow: row wrap;
    li {
        flex: 1 0 100%;
        padding: 7px 20px;
        @media(max-width: 599px) {
            &:nth-child(2n+1) {
                background-color: #161616;

            }

        }
        @media(min-width: 600px) and (max-width: 1359px) {
            flex-basis: 50%;
            &:nth-child(4n+1) {
                background-color: #161616;

            }
            &:nth-child(4n+2) {
                background-color: #161616;

            }

        }
        @media(min-width: 1360px) {
            flex-basis: 33.333334%;
            &:nth-child(6n+1) {
                background-color: #161616;

            }
            &:nth-child(6n+2) {
                background-color: #161616;

            }
            &:nth-child(6n+3) {
                background-color: #161616;

            }

        }

    }
    .desc {
        color: #8c8c8c;

    }

}