@charset "UTF-8";
@import 'libs/_lib';
@media print{
* {box-shadow:none;}

/*wylaczenie wyswietlania*/
header, nav, footer, .adv, .ndop {
    display:none;
}

/*typografia*/
h1, h2, h3, h4, h5, h6, p, p * {
    font-family: Times New Roman;
    color:black;
    background:none;
    text-shadow:none;
}

h1, h2, h3 {
    page-break-after: avoid;
}

p, h1, h2, h3 {
    orphans: 3;
    widows: 3;
}

/*linki*/
a[href]:after {
    content: " (" attr(href) ")";
}
/*js linki*/
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}

/*zdjecia/grafiki*/
img {
    max-width:100%;
}    

/*tabelki*/
tr {
    page-break-inside: avoid;
}


div.print {width:100%;height:100%;}

}
