@charset "UTF-8";
@import "libs/_lib";

#rating, 
.rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}

.rating-current {
    flex: 0 0 auto;
    padding: 0 5px;
    font-weight: 900;
    color: $theme-color-1;
    
}

.rating-count {
    flex: 0 0 auto;
    padding-right: 15px;
    .count {
        font-weight: 900;
        color: #8c8c8c;
        
    }
    
}

.rating-triggers {
    white-space: nowrap;
    
}
.rate {
    display: inline-block;
    border: 1px solid #ffffff;
    color: $theme-color-1;
    text-align: center;
    @include eqbox(23px,3px);
    width: 23px;
    padding: 0 4px;
    &:hover {
        border-color: $theme-color-1;
        color: #ffffff;
        
    }
    svg {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: -1px;
        
    }
    & + .rate {
        margin-left: 10px;
        
    }
    
}