@charset "UTF-8";
@import "libs/_lib";

.tags-col {
    flex: 1 0 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;

}

.tag-item {
    flex: 1 0 100%;
    padding: 0 20px;
    @media(min-width: 600px) {
        flex-basis: 50%;

    }
    @media(min-width: 1040px) {
        flex-basis: 25%;

    }
    a {
        padding: 0 10px;
        color: #ffffff;
        display: flex;
        @include eqbox(34px);
        flex-flow: row nowrap;
        .sub-label {
            flex: 1 0 0;

        }
        .counter {
            flex: 0 0 0;
            color: #474747;

        }
        &:hover {
            background-color: $theme-color-1;
            .counter {
                color: #c7c7c7;

            }

        }

    }

}