@charset "UTF-8";
@import "libs/_lib";

.upload-niches {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    .checkbox {
        flex: 0 0 100%;
        padding: 0 5px;
        @media(min-width: 600px) {
            flex-basis: 50%;
            
        }
        @media(min-width: 1040px) {
            flex-basis: 33.333334%;
            
        }
        label {
            display: block;
            
        }

    }

}