@charset "UTF-8";
@import "libs/_lib";

.content-col {
    max-width: 100%;
    margin-bottom: 20px;
    @media(min-width: 1040px) {
        max-width: calc(100% - 320px);

    }

}

.stage {
    display: block;
    .inner-stage {
        display: block;
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 56.25%;
        > img,
        > iframe,
        > object,
        > video,
        > #thisPlayer,
        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0; 
            right: 0;
            width: 100% !important;
            height: 100% !important;

        }

    }

}

.content-vtt {
    display: block;
    margin-top: 10px;
    
}
.vtt-thumbs {
    a {
        flex: 0 1 (100%/4);
        padding: 0 5px;
        margin-bottom: 10px;
        position: relative;
        @media(min-width: 768px) {
            flex-basis: (100%/6);
            
        }
        @media(min-width: 1040px) {
            flex-basis: (100%/12);
            
        }
        &:hover {
            .info {
                bottom: 100%;
                font-size: 12px;
                z-index: 1;
                
            }
            img {
                z-index: 2;
                
            }
            
        }
        img {
            display: block;
            position: relative;
            
        }
        
    }
    .info {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: #ffffff;
        background-color: #000000;
        padding: 5px;
        font-size: 0;
        text-align: center;
        white-space: nowrap;
        z-index: -1;
        transition: bottom $trans-time $trans-type, font-size $trans-time $trans-type;
        
    }
    
}

.content-info {
    display: block;
    margin-bottom: 20px;

}

.content-controls {
    margin-bottom: 10px;
    border-bottom: 1px solid #1e1e1e;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media(min-width: 550px) {
        flex-wrap: nowrap;

    }
    .rating {
        order: 1;
        flex-grow: 0;
        margin: 10px auto 5px;
        @media(min-width: 550px) {
            order: 2;
            margin: 0;

        }

    }
    .tabs-nav {
        li {
            flex: 1 0 auto;
            @media(min-width: 550px) {
                flex: 0 0 auto;

            }
            a {
                padding: 0 10px;
                @include eqbox(46px);
                @media(min-width: 479px) {
                    padding: 0 15px;

                }
                @media(min-width: 1469px) {
                    padding: 0 20px;

                }
                &.active,
                &:hover {
                    &::after {
                        height: 5px;

                    }

                }
                .sub-label {
                    display: none;
                    @media(min-width: 768px) {
                        display: block;

                    }

                }
                .icon {
                    display: inline-block;
                    font-size: 16px;
                    @media(min-width: 768px) {
                        display: none;

                    }

                }

            }

        }

    }

}

.content-tabs {
    order: 1;
    flex-grow: 1;
    @media(max-width: 549px) {
        width: 100%;

    }

}


.content-info {
    display: block;
    margin-bottom: 35px;

}
.content-base-info {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}
.content-submitter {
    padding: 0 10px;
    @media(min-width: 768px) {
        padding: 0 20px;

    }
    @media(max-width: 767px) {
        flex: 1 0 100%;
        margin-bottom: 10px;

    }
    .avatar {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        height: 54px;
        width: 54px;
        margin-right: 20px;
        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: none;
            width: auto;
            height: 100%;

        }

    }
    a {
        color: $theme-color-1;
        &:hover {
            color: darken($theme-color-1, 20%);

        }

    }

}
.info-elem {
    padding: 0 25px;
    @media(max-width: 767px) {
        margin-bottom: 5px;

    }
    .svg-inline--fa {
        color: $theme-color-1;
        margin-right: 10px;
        font-size: 17px;

    }

}
.content-desc {
    margin-bottom: 20px;
    color: #8c8c8c;
    padding: 0 10px;
    @media(min-width: 768px) {
        padding: 0 20px;

    }

}

.content-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
    &:not(:last-child) {
        border-bottom: 1px solid #242424;

    }
    @media(min-width: 768px) {
        padding: 0 20px;

    }
    .label {
        margin-bottom: 10px;
        margin-right: 5px;
        .svg-inline--fa {
            color: $theme-color-1;
            font-size: 17px;
            margin-right: 10px;
            margin-bottom: -2px;

        }

    }
    &.-models {
        padding-left: 98px;
        @media(min-width: 768px) {
            padding-left: 108px;

        }
        .label {
            margin-left: -88px;

        }
        a {
            color: $theme-color-1;
            margin-bottom: 10px;
            &:hover {
                color: darken($theme-color-1, 20%);

            }
            &:not(:last-child) {
                &::after {
                    content: ", ";
                    color: $theme-color-1;
                    margin-right: 3px;

                }

            }

        }

    }
    &.-tags {
        padding-left: 80px;
        @media(min-width: 768px) {
            padding-left: 90px;

        }
        .label {
            margin-left: -70px;

        }

    }
    &.-niches {
        padding-left: 117px;
        @media(min-width: 768px) {
            padding-left: 127px;

        }
        .label {
            margin-left: -107px;

        }

    }

}

.content-embed {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #242424;
    @media(min-width: 768px) {
        padding: 0 20px 10px;

    }
    .copy-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 5px 15px;
        background-color: transparent;
        max-width: 80%;
        z-index: -1;
        font-size: 0;
        transition: font-size $trans-time $trans-type, 
            background-color $trans-time $trans-type, 
            z-index $trans-time $trans-type;
        &.open {
            z-index: 2;
            background-color: #000000;
            font-size: 14px;

        }

    }
    small {
        display: block;
        margin-top: 5px;
        text-align: center;

    }

}
.embed-code {
    resize: none;
    display: block;
    & + .content-socials {
        margin-top: 0;
        
    }

}
.content-socials {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;

}
.content-download {
    display: block;
    margin-bottom: 10px;
    .btn {
        font-size: 14px;

    }

}
.download-item {
    display: flex;
    align-items: center;
    padding: 10px;
    &:not(:last-child) {
        border-bottom: 1px dashed #1e1e1e;

    }
    @media(min-width: 768px) {
        padding: 20px;

    }
    &.-label {
        color: #8c8c8c;

    }
    .resolution {
        flex: 1 0 100%;
        max-width: 100px;
        @media(min-width: 480px) {
            max-width: 25%;

        }

    }
    .size {
        flex: 1 0 auto;

    }
    .download {
        flex: 0 0 115px;
        text-align: center;

    }

}

.content-aside-col {
    max-width: 100%;
    @media(min-width: 1040px) {
        max-width: 320px;

    }

}