@charset "UTF-8";

// VALUES
//-----------------------
$col-padding: 5px;
$wrapper-width: 1600px + (2 * $col-padding);

$base-font: "Roboto", Arial, Helvetica, Sans serif;
$header-font: "Roboto", Arial, Helvetica, Sans serif;
$base-font-size: 14px;

$trans-time: .3s;
$trans-type: ease 0s;

$border-radius: 4px;

$header-top-row: 27px;
$header-top-row-mobile: 27px;
$header-bottom-row: 70px;
$header-bottom-row-mobile: 50px;

$search-height: 40px;
$search-height-mobile: 34px;

// COLORS 
//-----------------------
$theme-color-1: #ff2024;

$base-color: #ffffff;
$base-background-color: #000000;

$link-color: #ffffff;
$link-hover-color: $theme-color-1;

$btn-color: #ffffff;
$btn-bg-color: $theme-color-1;
$btn-hover-color: #ffffff;
$btn-hover-bg-color: darken($theme-color-1, 20%);

$input-background-color: #161616;

$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;